<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/datatables.min.css">
    <link rel="stylesheet" href="../assets/fonts/graphik_font.css">
    <link rel="stylesheet" href="../assets/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
</head>
<body>
    <div class="admin_dashboard_page">
        <header class="rw_header_wrapper">
            <div class="rw_header_inner">            
                <div class="header_title">
                    <h3>Admin account</h3>
                </div>
                <div class="header_profile">
                    <a href="javascript:;">
                        <h4>Jones Ferdinand</h4>
                        <div class="header_profile_image">
                            <img src="../assets/images/profile.jpg" alt="image">
                        </div>
                    </a>
                </div>
                <div class="rw_hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="rw_sidebar">
                <div class="header_logo">
                    <a href="admin_dashboard.html"><img src="../assets/images/logo.svg" alt="logo"></a>
                </div>
                <ul>
                    <li><a href="admin_dashboard.html" class="active"><img src="../assets/images/icons/dashboard.svg" alt="dashboard"></a></li>
                    <li><a href="admin_users.html"><img src="../assets/images/icons/contact.svg" alt="contact"></a></li>
                    <li><a href="admin_settings.html"><img src="../assets/images/icons/settings.svg" alt="settings"></a></li>
                </ul>
            </div>
        </header>
        <div class="rw_inner_area">
            <div class="rw_dashboard_box_wrapper">
                <div class="admin_header">
                    <div class="dashboard_title">
                        <h1>Dashboard</h1>
                    </div>
                    <div class="rw_selectbox admin_select">
                        <select>
                            <option value="">all</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="rw_dashboard_inner">
                    <div class="dashboard_box">
                        <div class="dashboard_box_text">
                            <h1>20000000</h1>
                            <p>Agencies</p>
                        </div>
                        <div class="dashboard_box_icon">
                            <img src="../assets/images/icons/agency.svg" alt="image">
                        </div>
                    </div>
                    <div class="dashboard_box">
                        <div class="dashboard_box_text">
                            <h1>214</h1>
                            <p>Clients</p>
                        </div>
                        <div class="dashboard_box_icon">
                            <img src="../assets/images/icons/client.svg" alt="image">
                        </div>
                    </div>
                    <div class="dashboard_box">
                        <div class="dashboard_box_text">
                            <h1>452</h1>
                            <p>Contacts</p>
                        </div>
                        <div class="dashboard_box_icon">
                            <img src="../assets/images/icons/phone.svg" alt="image">
                        </div>
                    </div>
                    <div class="dashboard_box">
                        <div class="dashboard_box_text">
                            <h1>388</h1>
                            <p>Total Sales</p>
                        </div>
                        <div class="dashboard_box_icon">
                            <img src="../assets/images/icons/dollor.svg" alt="image">
                        </div>
                    </div>
                </div>
            </div>  
            <div class="rw_table_wrapper">
                <div class="rw_table_header">
                    <div class="table_title">
                        <h3>Newly Added Agencies</h3>
                    </div>
                    <div class="add_new">
                        <a href="javascript:;">+add</a>
                    </div>
                </div>
                <div class="rw_table_inner rw_admin_dashboard_table">                
                    <table id="admin_dashboard_table" class="table rw_pagination" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Date</th>
                                <th class="sorting_none text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>                    
                           <tr>
                               <td>John doe</td>
                               <td>919999999999</td>
                               <td>Added on 3 Dec, 2021  03:00 PM</td>
                               <td class="text-center">
                                   <div class="action_dropdown">
                                    <ul class="drop_ul">
                                        <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                            <ul class="action_submenu">
                                                <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                                <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                                <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                            </ul>
                                        </li>
                                    </ul>                                    
                                   </div>
                               </td>
                           </tr>
                           <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>John doe</td>
                            <td>919999999999</td>
                            <td>Added on 3 Dec, 2021  03:00 PM</td>
                            <td class="text-center">
                                <div class="action_dropdown">
                                 <ul class="drop_ul">
                                     <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="../assets/images/icons/action.svg" alt="action"></a>
                                         <ul class="action_submenu">
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/edit.svg" alt="image">edit</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/delete.svg" alt="image">delete</a></li>
                                             <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="../assets/images/icons/make_default.svg" alt="image">Make Default</a></li>
                                         </ul>
                                     </li>
                                 </ul>                                    
                                </div>
                            </td>
                        </tr>
    
                        </tbody>
                    </table>
                </div>
            </div>      
        </div>
    </div>
    
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/dataTables.bootstrap5.min.js"></script>
    <script src="../assets/js/custom.js"></script>
</body>
</html>