<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' >
    <title>Admin Settings</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/datatables.min.css">
    <link rel="stylesheet" href="../assets/fonts/graphik_font.css">
    <link rel="stylesheet" href="../assets/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../assets/css/icons.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <link rel="stylesheet" href="../assets/css/agency_dashboard.css">
    <link rel="stylesheet" href="../assets/css/agency_settings.css">
    <link rel="stylesheet" href="../assets/css/admin_account_settings.css">
</head>
<body>
    <div class="admin_setting_page">
        <header class="rw_header_wrapper">
            <div class="rw_header_inner">            
                <div class="header_title">
                    <h3>Admin account</h3>
                </div>
                <div class="header_profile">
                    <a href="javascript:;">
                        <h4>Jones Ferdinand</h4>
                        <div class="header_profile_image">
                            <img src="../assets/images/profile.jpg" alt="image">
                        </div>
                    </a>
                </div>
                <div class="rw_hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="rw_sidebar">
                <div class="header_logo">
                    <a href="admin_dashboard.html"><img src="../assets/images/logo.svg" alt="logo"></a>
                </div>
                <ul>
                    <li><a href="admin_dashboard.html" ><img src="../assets/images/icons/dashboard.svg" alt="dashboard"></a></li>
                    <li><a href="admin_users.html"><img src="../assets/images/icons/contact.svg" alt="contact"></a></li>
                    <li><a href="admin_settings.html" class="active"><img src="../assets/images/icons/settings.svg" alt="settings"></a></li>
                </ul>
            </div>
        </header>
        <div class="rw_inner_area">
            <div class="rw_dashboard_box_wrapper">
                <div class="admin_header">
                    <div class="dashboard_title">
                        <h1>account settings</h1>
                    </div>
                </div>
            </div> 
            <div class="rw_inner_form_inner_area">
                <div class="rw_inn_form_box">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">First Name</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="First Name" value="john">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Last Name</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="Last Name" value="due">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Email Address</label>
                                <div class="rw_input">
                                    <input type="text" placeholder="Enter e-mail">
                                    <span class="input_icon email"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rw_inn_form_box">
                    <div class="form_title">
                        <h3>change password</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Current Password</label>
                                <div class="rw_input">
                                    <input type="password" placeholder="Current Password" >
                                    <span class="input_icon rw_eye"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">New Password</label>
                                <div class="rw_input">
                                    <input type="password" placeholder="New Password" >
                                    <span class="input_icon rw_eye"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="rw_form_inputs">
                                <label  class="rw_form_label">Confirm Password</label>
                                <div class="rw_input">
                                    <input type="password" placeholder="Confirm Password">
                                    <span class="input_icon rw_eye"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rw_save_btn">
                    <a href="javascript:;" class="rw_btn">save</a>
                </div>                      
            </div>          
        </div>
    </div>
    
    
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/dataTables.bootstrap5.min.js"></script>
    <script src="../assets/js/custom.js"></script>
</body>
</html>